:root {
	--text_size_normal:		calc(18px + (36 - 18)*((100vw - 640px) / (2300 - 640)));
}
html {
	width: 100vw;
	height: 100vh;
	scroll-behavior: smooth;
}
body {
	width: 100vw;
	height: 100vh;
}
.page {
	width: 100vw;
	height: calc(36vw + 300px);
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: hsla(0, 0%, 0%, 0.9);
}
.slider_cont {
/*	position: relative;	*/
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: 40px 1fr 1fr 10px calc(10% + 140px) 40px;
	grid-template-rows: 40px 1fr 1fr 40px 20% 40px;
	grid-template-areas: 	"_l_  _t_  _t_  _t_  _t_  _r_"
							"_l_  pic  pic  pic  pic  _r_"
							"_l_  pic  pic  pic  pic  _r_"
							"_l_  ___  ___  ___  ___  _r_"
							"_l_  txt  txt  _1_  btn  _r_"
							"_l_  _b_  _b_  _b_  _b_  _r_";
}
.pics {
/*	position: relative;	*/
	grid-area: pic;
	width: 100%;
	height: 100%;
	justify-self: center;
	align-self: center;
	background-color: black;
/*	transform: translateX(0vw);
	transition: transform 0.5s linear;		*/
/*	border-radius: 10px;	*/
}
.pic_base {
	display: inline-block;
/*	position: relative;	*/
/*	left: 0px;		*/
/*	right: 0px;
	left: calc(100% - 2px);*/
/*	width: 2px;	*/
/*	display: flex;
	align-items: center;	*/
/*	width: 100%;	*/
	width: 100%;
	height: 100%;
/*	background-color: chocolate;	*/
}
.pic_base0 {
/*	position: relative;
	top: 0px;	*/
/*	width: 0px;	*/
/*	display: inline-block;	*/
/*	display: flex;
	align-items: center;	*/
	width: 0%;
	height: 0%;
	transform: translateX(100vw);
	transition: transform 1.0s ease;	
/*	background-color: chocolate;	*/
}
.pic_base::after {
/*	position: relative;	*/
	width: 100%;
	height: 100%;
/*	padding-top: 5px;
	padding-left: 5px;*/
/*	margin: 0px auto;	*/
	transform: translateX(100vw);
	transition: transform 1.0s ease;
}
.text_cont {
/*	position: relative;		*/
	grid-area: txt;
	width: 100%;
	height: 100%;
	justify-self: center;
	align-self: center;
/*	background-color: yellow;	*/
}
.text_base {
/*	position: relative;		*/
/*	left: 0px;	*/
/*	right: 0px;	*/
/*	left: calc(100% - 2px);	*/
/*	display: flex;
	align-items: center;	*/
/*	width: 2px;	*/
	width: 0%;
	height: 0%;
	transform: translateX(-100vw);
	transition: transform 1.0s ease;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: var(--text_size_normal);
	color: azure;
/*	background-color: chocolate;	*/
}
#text_5 {
	animation: infinite;
	-webkit-animation-name: text_ani;
	-webkit-animation-duration: 5.25s;
	animation-name: text_ani;
	animation-duration: 5.25;
}
.text_base::after {
/*	position: relative;	*/
	width: 100%;
	height: 100%;
	padding-top: 5px;
	padding-left: 5px;
/*	transform: translateX(100vw);
	transition: transform 1.2s ease-out;	*/
}
.buttons {
	grid-area: btn;
	justify-self: end;
	display: flex;
	justify-content: space-evenly;
	width: 210px;
	height: 100%;
/*	background-color: cadetblue;	*/
}
.btn {
	width: 32px;
	height: 36px;
	padding: 9px 8px;
	margin: 5px 0px;
	background-color: hsla(0, 0%, 0%, 0.0);
	cursor: pointer;
/*	align-self: center;	*/
/*	background-color: hsla(0, 0%, 100%, 1.0);	*/
}
.point {
	width: 16px;
	height: 16px;
	background-color: hsla(210, 100%, 50%, 0.8);
	border: 2px solid hsla(210, 100%, 50%, 0.8);
	border-radius: 50%;
}
[name="control"]:checked ~ .buttons label {
	background-color: hsla(0, 0%, 0%, 0.0);
}
.btn:hover .point,
.point:hover {
	background-color: hsla(0, 0%, 100%, 0.9);
	border-color: hsla(0, 0%, 100%, 0.9);
}
/**	====	====	====	====	====	====	====	====	*/
#btn1:checked ~ .buttons .btn1 {
	background-color: hsla(0, 0%, 0%, 0.9);
}
/*
#btn1:checked ~ .pics {
	transform: translateX(-100vw);
	transition: transform 0.5s ease-out;
}*/
#btn1:checked ~ .pics {
/*	background: no-repeat center / contain url("../assets/pics/pic_2.png");
	-webkit-animation-name: img_start_ani;
	-webkit-animation-duration: 1.25s;
	animation-fill-mode: forwards;
	animation-name: img_start_ani;
	animation-duration: 1.25;	*/
/*	transform: translateX(0vw);
	transition: transform 1.2s ease-out;		*/
}	
/*
#btn1:checked ~ .pics .pic_base::after {
	background: no-repeat center / contain url("../assets/pics/pic_2.png");
	content: "";
	transform: translateX(0vw);
	transition: transform 1.0s ease;
}*/
#btn1:checked ~ .pics .pic_base,
#btn1:checked ~ .pics .pic_base0 {
	width: 0%;
	height: 0%;
	transform: translateX(100vw);
	transition: transform 1.0s ease;
}
#btn1:checked ~ .pics #pic_1 {
	background: no-repeat center / contain url("../assets/pics/pic_2.png");
	width: 100%;
	height: 100%;
	transform: translateX(0vw);
	transition: transform 1.0s ease;
}
#btn1:checked ~ .text_cont .text_base {
	width: 0%;
	height: 0%;
	font-size: 1px;
	transform: translateX(-100vw);
	transition: transform 0.05s linear;
}
#btn1:checked ~ .text_cont #text_1 {
	width: 100%;
	height: 100%;
	font-size: var(--text_size_normal);
	transform: translateX(0vw);
	transition: transform 1.0s ease;	
}
/*
#btn1:checked ~ .pics .pic_base::after {
	content: url("../assets/pics/pic_2.png");
}*/
/**	====	====	====	====	====	====	====	====	*/
#btn2:checked ~ .buttons .btn2 {
	background-color: hsla(0, 0%, 0%, 0.9);
}
/*
#btn2:checked ~ .pics {
	transform: translateX(-100vw);
	transition: transform 0.5s ease-out;
}*/
/*#btn2:checked ~ .pics {
	background: no-repeat center / contain url("../assets/pics/pic_1.png");
	-webkit-animation-name: img_start_ani;
	-webkit-animation-duration: 1.25s;
	animation-name: img_start_ani;
	animation-duration: 1.25;	*/
/*	transform: translateX(0vw);
	transition: transform 1.2s ease-out;	*/
/*
#btn2:checked ~ .pics .pic_base::after {
	background: no-repeat center / contain url("../assets/pics/pic_1.png");
	content: "";
	transform: translateX(0vw);
	transition: transform 1.0s ease;
}	*/
#btn2:checked ~ .pics .pic_base,
#btn2:checked ~ .pics .pic_base0 {
	width: 0%;
	height: 0%;
	transform: translateX(100vw);
	transition: transform 1.0s ease;
}
#btn2:checked ~ .pics #pic_2 {
	background: no-repeat center / contain url("../assets/pics/pic_1.png");
	width: 100%;
	height: 100%;
	transform: translateX(0vw);
	transition: transform 1.0s ease;
}
#btn2:checked ~ .text_cont .text_base {
	width: 0%;
	height: 0%;
	font-size: 1px;
	transform: translateX(-100vw);
	transition: transform 0.05s linear;
}
#btn2:checked ~ .text_cont #text_2 {
	width: 100%;
	height: 100%;
	font-size: var(--text_size_normal);
	transform: translateX(0vw);
	transition: transform 1.0s ease;	
}
/*
#btn2:checked ~ .text_cont .text_base::after {
	content: "\"ложь\" на разных языках:";
}*/
/*	#btn2:checked ~ .pics .pic_base::after {
	content: url("../assets/pics/pic_1.png");
}	*/
/**	====	====	====	====	====	====	====	====	*/
#btn3:checked ~ .buttons .btn3 {
	background-color: hsla(0, 0%, 0%, 0.9);
}
/*
#btn3:checked ~ .pics {
	transform: translateX(-100vw);
	transition: transform 0.5s ease-out;
}*/
/*
#btn3:checked ~ .pics {
	background: no-repeat center / contain url("../assets/pics/pic_3.png");
	-webkit-animation-name: img_start_ani;
	-webkit-animation-duration: 1.25s;
	animation-name: img_start_ani;
	animation-duration: 1.25;*/
/*	transform: translateX(0vw);
	transition: transform 1.2s ease-out;	*/
/*
#btn3:checked ~ .pics .pic_base::after {
	background: no-repeat center / contain url("../assets/pics/pic_3.png");
	content: "";
	transform: translateX(0vw);
	transition: transform 1.0s ease;
}	*/
#btn3:checked ~ .pics .pic_base,
#btn3:checked ~ .pics .pic_base0 {
	width: 0%;
	height: 0%;
	transform: translateX(100vw);
	transition: transform 1.0s ease;
}
#btn3:checked ~ .pics #pic_3 {
	background: no-repeat center / contain url("../assets/pics/pic_3.png");
	width: 100%;
	height: 100%;
	transform: translateX(0vw);
	transition: transform 1.0s ease;
}
#btn3:checked ~ .text_cont .text_base {
	width: 0%;
	height: 0%;
	font-size: 1px;
	transform: translateX(-100vw);
	transition: transform 0.05s linear;
}
#btn3:checked ~ .text_cont #text_3 {
	width: 100%;
	height: 100%;
	font-size: var(--text_size_normal);
	transform: translateX(0vw);
	transition: transform 1.0s ease;
}
/*
#btn3:checked ~ .text_cont .text_base::after {
	content: "деньги обычно лежат в правом внутреннем кармане, а у правшей - в левом. Если же человек развивает оба полушария, его деньги лежат в швейцарском банке";
}
*/
/*#btn3:checked ~ .pics .pic_base::after {
	content: "cont3";
}*/
/**	====	====	====	====	====	====	====	====	*/
#btn4:checked ~ .buttons .btn4 {
	background-color: hsla(0, 0%, 0%, 0.9);
}
/*
#btn4:checked ~ .pics {
	transform: translateX(-100vw);
	transition: transform 0.5s ease-out;
}*/
/*#btn4:checked ~ .pics {
	background: no-repeat center / contain url("../assets/pics/this_days.gif");
	-webkit-animation-name: img_start_ani;
	-webkit-animation-duration: 1.25s;
	animation-name: img_start_ani;
	animation-duration: 1.25;
*/
/*	transform: translateX(0vw);
	transition: transform 1.2s ease-out;	*/
/*
#btn4:checked ~ .pics .pic_base::after {
	background: no-repeat center / contain url("../assets/pics/this_days.gif");
	content: "";
	transform: translateX(0vw);
	transition: transform 1.0s ease;
}*/
#btn4:checked ~ .pics .pic_base,
#btn4:checked ~ .pics .pic_base0 {
	width: 0%;
	height: 0%;
	transform: translateX(100vw);
	transition: transform 1.0s ease;
}
#btn4:checked ~ .pics #pic_4 {
	background: no-repeat center / contain url("../assets/pics/this_days.gif");
	width: 100%;
	height: 100%;
	transform: translateX(0vw);
	transition: transform 1.0s ease;
}
#btn4:checked ~ .text_cont .text_base {
	width: 0%;
	height: 0%;
	font-size: 1px;
	transform: translateX(-100vw);
	transition: transform 0.05s linear;
}
#btn4:checked ~ .text_cont #text_4 {
	width: 100%;
	height: 100%;
	font-size: var(--text_size_normal);
	transform: translateX(0vw);
	transition: transform 1.0s ease;	
}
/*
#btn4:checked ~ .text_cont .text_base::after {
	content: "Ever had one of those days";
}
*/
/*
#btn4:checked ~ .pics .pic_base::after {
	content: "cont4";
}*/
/**	====	====	====	====	====	====	====	====	*/
#btn5:checked ~ .buttons .btn5 {
	background-color: hsla(0, 0%, 0%, 0.9);
}
/*
#btn5:checked ~ .pics {
	transform: translateX(-100vw);
	transition: transform 0.5s ease-out;
}*/
/*
#btn5:checked ~ .pics {
	background: no-repeat center / contain url("../assets/pics/strike.gif");
	-webkit-animation-name: img_start_ani;
	-webkit-animation-duration: 1.25s;
	animation-name: img_start_ani;
	animation-duration: 1.25;	*/
/*	transform: translateX(0vw);
	transition: transform 1.2s ease-out;	*/
#btn5:checked ~ .pics .pic_base,
#btn5:checked ~ .pics .pic_base0 {
	width: 0%;
	height: 0%;
	transform: translateX(100vw);
	transition: transform 1.0s ease;
}
#btn5:checked ~ .pics #pic_5 {
	background: no-repeat center / contain url("../assets/pics/strike.gif");
	width: 100%;
	height: 100%;
	transform: translateX(0vw);
	transition: transform 1.0s ease;
}
#btn5:checked ~ .text_cont .text_base {
	width: 0%;
	height: 0%;
	transform: translateX(-100vw);
	transition: transform 0.05s linear;
}
#btn5:checked ~ .text_cont #text_5 {
	width: 100%;
	height: 100%;
	transform: translateX(0vw);
	transition: transform 1.0s ease;	
}
#btn5:checked ~ .pics .pic_base::after {
/*	background: no-repeat center / contain url("../assets/pics/strike.gif");
	content: "";
	transform: translateX(0vw);
	transition: transform 1.0s ease;	*/
}
/*
#btn5:checked ~ .text_cont .text_base::after {
	content: "Strike!!!";
}*/
/*
#btn5:checked ~ .pics .pic_base::after {
	content: "cont5";
}	*/
/**		Operating Systems		*/
/**	====	====	====	====	====	====	====	====	*/
/* .btn:active .point .btn:focus .point */
/*.btn:focus .point {		
	background-color: hsla(0, 0%, 0%, 0.9);
}*/
/*
.pic_base::after {
	width: calc(100vw - 80px);
	background-color: darkorange;
}*/
/*.slider_cont:hover .pic_base  {	*/
/*	content: none;	*/
/*	background-color: aquamarine;	*/
/*	content: "";	*/
/*	content: none;		*/
/*	transform: translateX(100vw);
	transition: transform 0.0s ease;
}	*/
.pic_base:focus .pic_base::after {
	content: none;
}
[name="control"] {
	grid-area: _t_;
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}
@keyframes text_ani {
	from {		letter-spacing: 2.0px;		}
	50% {		margin-left: 50px; letter-spacing: 25.0px;		}
	to {		letter-spacing: 2.0px;		}
}
@-webkit-keyframes text_ani {
	from {		letter-spacing: 2.0px;		}
	50% {		margin-left: 50px; letter-spacing: 25.0px;		}
	to {		letter-spacing: 2.0px;		}
}
/*
@keyframes img_start_ani {
	from {		transform: translateX(0vw);		}
	to {		transform: translateX(100vw);		}
}
@-webkit-keyframes img_start_ani {
	from {		transform: translateX(0vw);		}
	to {		transform: translateX(100vw);		}
}	*/
/**	================			Media			================ */
@media all and (min-width: 	2300px){
	.page {
		width: 100vw;
		height: calc(100vh - 100px);
	}
}
@media all and (max-width: 	640px){
	.slider_cont {
		grid-template-columns: 20px repeat(4, 1fr) 20px;
		grid-template-rows: 20px 1fr 10px 60px 10px 20% 20px;
		grid-template-areas: 	"_l_  _t_  _t_  _t_  _t_  _r_"
								"_l_  pic  pic  pic  pic  _r_"
								"_l_  _1_  _1_  _1_  _1_  _r_"
								"_l_  _3_  btn  btn  _4_  _r_"
								"_l_  _2_  _2_  _2_  _2_  _r_"
								"_l_  txt  txt  txt  txt  _r_"
								"_l_  _b_  _b_  _b_  _b_  _r_";
	}
}
