html {
	width: 100vw;
	height: 100vh;
	scroll-behavior: smooth;
}
body {
	width: 100vw;
	height: 100vh;
}
.page {
	width: 100vw;
	height: calc(40vw + 200px);
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: hsla(0, 0%, 0%, 0.9);
}
.slider_cont {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: 40px 1fr 1fr 10% 1fr 40px;
	grid-template-rows: 40px 1fr 1fr 20px 20% 40px;
	grid-template-areas: 	"_l_  _t_  _t_  _t_  _t_  _r_"
							"_l_  pic  pic  pic  pic  _r_"
							"_l_  pic  pic  pic  pic  _r_"
							"_l_  ___  ___  ___  ___  _r_"
							"_l_  txt  txt  _1_  btn  _r_"
							"_l_  _b_  _b_  _b_  _b_  _r_";
}
.pics {
	position: relative;
	grid-area: pic;
	width: 100%;
	height: 100%;
	justify-self: center;
	align-self: center;
	background-color: aqua;
/*	border-radius: 10px;	*/
}
.pic_base {
	position: relative;
	left: 0px;
/*	right: 0px;
	left: calc(100% - 2px);*/
	width: 2px;
	height: 100%;
	background-color: chocolate;
}
.pic_base::after {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: darkorange;
}
.text_cont {
	position: relative;
	grid-area: txt;
	width: 100%;
	height: 100%;
	justify-self: center;
	align-self: center;
	background-color: yellow;
}
.text_base {
	position: relative;
	left: 0px;
/*	right: 0px;	*/
/*	left: calc(100% - 2px);	*/
	width: 2px;
	height: 100%;
	background-color: chocolate;
}
.text_base::after {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: darkorange;
}
.buttons {
	grid-area: btn;
	justify-self: end;
	display: flex;
	justify-content: space-evenly;
	width: 210px;
	height: 100%;
/*	background-color: cadetblue;	*/
}
.btn {
	width: 32px;
	height: 36px;
	padding: 9px 8px;
	margin: 5px 0px;
	background-color: hsla(0, 0%, 0%, 0.0);
	cursor: pointer;
/*	align-self: center;	*/
/*	background-color: hsla(0, 0%, 100%, 1.0);	*/
}
.point {
	width: 16px;
	height: 16px;
	background-color: hsla(210, 100%, 50%, 0.8);
	border: 2px solid hsla(210, 100%, 50%, 0.8);
	border-radius: 50%;
}
[name="control"]:checked ~ .buttons label {
	background-color: hsla(0, 0%, 0%, 0.0);
}
.point:hover {
	background-color: hsla(0, 0%, 100%, 0.9);
	border-color: hsla(0, 0%, 100%, 0.9);
}
/**	====	====	====	*/
#btn1:checked ~ .buttons .btn1 {
	background-color: hsla(0, 0%, 0%, 0.9);
}
#btn1:checked ~ .pics .pic_base::after {
	content: "cont1";
}
#btn1:checked ~ .text_cont .text_base::after {
	content: "cont1";
}
/**	====	====	====	*/
#btn2:checked ~ .buttons .btn2 {
	background-color: hsla(0, 0%, 0%, 0.9);
}
#btn2:checked ~ .pics .pic_base::after {
	content: "cont2";
}
#btn2:checked ~ .text_cont .text_base::after {
	content: "cont2";
}
/**	====	====	====	*/
#btn3:checked ~ .buttons .btn3 {
	background-color: hsla(0, 0%, 0%, 0.9);
}
#btn3:checked ~ .pics .pic_base::after {
	content: "cont3";
}
#btn3:checked ~ .text_cont .text_base::after {
	content: "cont3";
}
/**	====	====	====	*/
#btn4:checked ~ .buttons .btn4 {
	background-color: hsla(0, 0%, 0%, 0.9);
}
#btn4:checked ~ .pics .pic_base::after {
	content: "cont4";
}
#btn4:checked ~ .text_cont .text_base::after {
	content: "cont4";
}
/**	====	====	====	*/
#btn5:checked ~ .buttons .btn5 {
	background-color: hsla(0, 0%, 0%, 0.9);
}
#btn5:checked ~ .pics .pic_base::after {
	content: "cont5";
}
#btn5:checked ~ .text_cont .text_base::after {
	content: "cont5";
}
/**	====	====	====	*/
/* .btn:active .point .btn:focus .point */
/*.btn:focus .point {		
	background-color: hsla(0, 0%, 0%, 0.9);
}*/
[name="control"] {
	grid-area: _t_;
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}
/**	================			Media			================ */
@media all and (max-width: 	640px){
	.slider_cont {
		grid-template-columns: 20px repeat(4, 1fr) 20px;
		grid-template-rows: 20px 1fr 10px 60px 10px 20% 20px;
		grid-template-areas: 	"_l_  _t_  _t_  _t_  _t_  _r_"
								"_l_  pic  pic  pic  pic  _r_"
								"_l_  _1_  _1_  _1_  _1_  _r_"
								"_l_  _3_  btn  btn  _4_  _r_"
								"_l_  _2_  _2_  _2_  _2_  _r_"
								"_l_  txt  txt  txt  txt  _r_"
								"_l_  _b_  _b_  _b_  _b_  _r_";
	}
}
